@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');



body h1{
  font-family: 'Domine', serif;
}

body {
    background-color: #2B3544;
    color: #fff;
    font-family: 'Noto Serif', serif;
  }
  
  
  header {
    padding: 15% 5%;
    text-align: center;
  }

  header h1{
    font-weight: 300;
    font-size: 50px;
  }


  header h1,
  header p {
    margin: 0;
  }
  header p {
    color: #D1D5DB;
  }
  
  
  #posts {
    padding: 0 5%;
  }

  #posts a {
    color: #D1D5DB;
    margin-bottom: 10px;
    font-size: larger;
  }

  .postsWrapper {
    background-color: #394050;
    padding: 2% 5%; 
    border-radius: 25px 25px 0 0;
  }

  .postsWrapper nav {
    padding: 5% 7%;
  }

  .postsWrapper nav img{ 
    width: 80px;
    display: flex;
    justify-content:flex-start;
  }

  
  .postsWrapper h2 {
    padding: 1% 7%;
  }
  
  
  #berichte {
    background-color: #F4F4F6;
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .postBox {
    color: #000;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


  
  .postBox p {
    background-color: #fff;
    padding: 5%;
  }



  .postImage {
    background-image: url('https://picsum.photos/seed/picsum/200/300');
    width: auto;
    height: 125px;
    background-size: cover;
  }
  
  
  
  .contentBox {
    background-color: #F9FAFB;
    padding: 5%;
    color: #000;
  }
  
  
  
  #niicee.contentBox {
    background-color: #F3F4F6;
  }